body{
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;

	min-width: 960px;

	margin: 0;
	padding: 0;

	background: #d4d3d8;
}

p, ul{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

.container{
	width: 960px;

	margin: 0 auto;	
}

body>.container{
	position: relative;

	background: url(img/index-background.png) no-repeat top left;
}







/*ХЕДЕР*/

header{
	min-height: 60px;
	width: 100%;

	background: rgba(214,213,218,.5);

	position: relative;
}

header a{
	display: inline-block;
	vertical-align: top;

	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: normal;
	font-size: 18px;	

	margin-top: 19px;

	border-bottom: 2px solid rgba(0,0,0,0);

	transition: border .5s;
}

header a:hover{
	border-bottom: 2px solid rgba(0,0,0,1);
}



.navigation{
	margin-left: 84px;	
	margin-right: 81px;

	font-size: 0;
}

.navigation li{
	display: inline-block;
	vertical-align: top;

	width: 143px;
	margin-right: 20px;

	text-align: center;
}

.navigation li:last-child{
	margin-right: 0;
}




/*МЭЙН*/

main input{
	display: none;
}

main label{
	display: inline-block;
	vertical-align: top;
}

main label:hover{
	cursor: pointer;

	opacity: 1;
}

.main-container{
	width: 570px;
	min-height: 537px;

	margin: 0 auto;
}

label[for^='index-foto-']{
	transition: opacity .5s;
}

label[for='index-foto-1']{
	margin-top: 99px;
	margin-left: 237px;

	opacity: .6;
}

label[for='index-foto-2']{
	margin-top: -5px;
	margin-left: 312px;

	opacity: .6;
}

label[for='index-foto-3']{
	margin-top: -2px;
	margin-left: 233px;

	opacity: .6;
}

label[for='index-foto-4']{
	margin-top: -4px;
	margin-left: 171px;

	opacity: .75;
}

label[for='index-foto-5']{
	margin-top: -2px;
	margin-left: 252px;

	opacity: .75;
}

label[for='index-foto-6']{
	margin-top: -22px;
	margin-left: 378px;

	opacity: .75;
}

div [class^='index-text-']{
	/display: none;

	text-align: justify;

	position: absolute;

	transform: scale(0);

	transition: all .25s;
}

.index-text{
	margin-top: 49px;
	margin-left: 19px;
	margin-bottom: 20px;

	position: relative;
}






/*Переключение текстов*/



#index-foto-1:checked ~ .index-text .index-text-1,
#index-foto-2:checked ~ .index-text .index-text-2,
#index-foto-3:checked ~ .index-text .index-text-3,
#index-foto-4:checked ~ .index-text .index-text-4,
#index-foto-5:checked ~ .index-text .index-text-5,
#index-foto-6:checked ~ .index-text .index-text-6{
	display: block;

	transform: scale(1);
}





/*ФУТЕР*/

footer{
	min-height: 42px;
	width: 100%;

	background: rgba(214,213,218,.5);

	text-align: center;

	padding-top: 18px;
}

footer a{
	display: inline-block;

	font-size: 17px;
	color: #000;
	font-weight: normal;
	text-decoration: none;


}
